name: hugegraph CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  # 1次/3天 在凌晨一点触发执行任务
  schedule:
    - cron: '0 17 */3 * *'
  # 手动触发
  workflow_dispatch:

jobs:
  # job: openSource and no auth
  openSource_no_auth:
    name: openSource and no auth
    runs-on: ubuntu-latest
    steps:

      - name: install JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'

      - name: cache maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Use Node.js 16
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Get Yarn path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: install python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: 'x64'

      - name: cache python dependencies
        uses: actions/cache@v3
        id: cache-pip
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: checkout python scripts
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt

      - name: deploy hugegraph
        run: |
          python src/deploy_start.py all

      - name: decompress dataset.zip
        run: |
          unzip src/config/dataset.zip
          mv dataset src/config/
          
      - name: run test cases
        run: |
          pytest --html=test.html --capture=tee-sys


  # job: openSource and exist auth
#  openSource_exist_auth:
#    name: openSource and exist auth
#    runs-on: ubuntu-latest
#    steps:
#      - name: install JDK 8
#        uses: actions/setup-java@v2
#        with:
#          java-version: '8'
#          distribution: 'adopt'
#
#      - name: cache maven repository
#        uses: actions/cache@v2
#        with:
#          path: ~/.m2/repository
#          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
#          restore-keys: |
#            ${{ runner.os }}-maven-
#
#      - name: install python 3.7
#        uses: actions/setup-python@v2
#        with:
#          python-version: '3.7'
#          architecture: 'x64'
#
#      - name: cache python dependencies
#        uses: actions/cache@v2
#        id: cache-pip
#        with:
#          path: ~/.cache/pip
#          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
#          restore-keys: |
#            ${{ runner.os }}-pip-
#
#      - name: checkout python scripts
#        uses: actions/checkout@v2
#        with:
#          fetch-depth: 2
#
#      - name: install python dependencies
#        run: |
#          python -m pip install --upgrade pip
#          pip install -r ./requirements.txt
#
#      - name: deploy hugegraph
#        run: |
#          sed -i -e "s/^is_auth.*$/is_auth = True/g" src/config/basic_config.py
#          sed -i -e "s/^admin_password.*$/admin_password = {'admin': '123456'}/g" src/config/basic_config.py
#          sed -i -e "s/^test_password.*$/test_password = {'tester': '123456'}/g" src/config/basic_config.py
#          python src/deploy_start.py all
#
#
#      - name: decompress dataset.zip
#        run: |
#          unzip src/config/dataset.zip
#          mv dataset src/config/
#
#      - name: run test cases
#        run: |
#          pytest --html=test.html --capture=tee-sys
