name: hugegraph CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  # 1次/3天 在凌晨一点触发执行任务
  schedule:
    - cron: '0 17 */3 * *'
  # 手动触发
  workflow_dispatch:


jobs:
  # job: openSource and no auth
  openSource_no_auth:
    name: openSource and no auth
    runs-on: ubuntu-16.04
    steps:
      - name: install JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: cache maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: install python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'

      - name: cache python dependencies
        uses: actions/cache@v2
        id: cache-pip
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: checkout python scripts
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: install python dependencies
        if: steps.cache-pip.outputs.cache-hit != 'true'
        run: |
          tree
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt

      - name: edit config and install hugegraph components
        run: |
          python src/deploy_start.py all

      - name: run test cases
        run: pytest src/test_start.py


#  # job: openSource and exist auth
#  openSource_exist_auth:
#    name: openSource and exist auth
#    runs-on: ubuntu-16.04
#    steps:
#      - name: install JDK 8
#        uses: actions/setup-java@v2
#        with:
#          java-version: '8'
#          distribution: 'adopt'
#
#      - name: cache maven repository
#        uses: actions/cache@v2
#        with:
#          path: ~/.m2/repository
#          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
#          restore-keys: |
#            ${{ runner.os }}-maven-
#
#      - name: install python 3.7
#        uses: actions/setup-python@v2
#        with:
#          python-version: '3.7'
#          architecture: 'x64'
#
#      - name: cache python dependencies
#        uses: actions/cache@v2
#        id: cache-pip
#        with:
#          path: ~/.cache/pip
#          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
#          restore-keys: |
#            ${{ runner.os }}-pip-
#
#      - name: checkout python scripts
#        uses: actions/checkout@v2
#        with:
#          ref: master
#          fetch-depth: 2
#
#      - name: install python dependencies
#        if: steps.cache-pip.outputs.cache-hit != 'true'
#        run: |
#            pip install -r requirements.txt
#
#      - name: edit config and install hugegraph components
#        run: |
#          sed -i 's/^is_auth.*$/is_auth = True/g' src/config/basic_config.py
#          python src/deploy_start.py
#
#      - name: run test cases
#        run: pytest src/test_start.py
